@model GameNight

@{
    ViewBag.Title = "Details spelavond";
    var routeData = new Dictionary<string, string> { { "id", Model.Id.ToString() } };
}

<h2>Details spelavond</h2>

<p>@Model.Address</p>
<p>Aantal inschrijvingen: @Model.Players.Count</p>

<p>Eten: </p>
@foreach (var food in Model.Foods) {
    <p>@food.Name</p>
}


<div class="row">
    @foreach (var game in Model.Games) {
        <partial model="game" name="_Game"/>
    }
</div>

@if (Model.IsPotluck) {
    <a asp-controller="Food" asp-action="Index" asp-all-route-data="routeData">Eten meenemen!</a>
}

<form asp-action="Details" method="post">
    <button class="btn btn-primary" asp-all-route-data="routeData">Inschrijven</button>
</form>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>