@model GameNight

@{
    ViewBag.Title = "Details spelavond";
    var routeData = new Dictionary<string, string> { { "id", Model.Id.ToString() } };
}

<h2>Details spelavond</h2>

<p>@Model.Address</p>
<p>Aantal inschrijvingen: @Model.Players.Count</p>

@foreach (var game in Model.Games) {
    <p>@game.Name</p>
}

<form asp-action="Details" method="post">
    <button class="btn btn-primary" asp-all-route-data="routeData">Inschrijven</button>
</form>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>