@model ICollection<GameNight> 

@{
    ViewBag.Title = "Alle Spelavonden";
}
<div class="d-flex justify-content-center">
    <h1 class="text-center">Alle Spelavonden</h1>

    @if (User.HasClaim("UserType", "Organizer")) {
        <a class="btn btn-primary text-end" asp-action="Organize">Organiseer</a>
    }
</div>

<div class="row row-cols-1 row-cols-md-3 g-3">
    @foreach (var gameNight in Model) {
        <partial model="gameNight" name="_GameNight"/>
    }
</div>