@model ICollection<GameNight> 

@{
    ViewBag.Title = "Alle Spelavonden";
}

<body>
<div>
    <h1>Alle Spelavonden</h1>
    
    @foreach (var gameNight in Model) {
        <p>@gameNight.DateTime</p>
    }
</div>
</body>
