@model IEnumerable<GameNight>

@{
    ViewBag.Title = "Georganiseerd";
}
    

<body>
<div>
    <h1>Georganiseerde spelavonden</h1>
    
    @foreach (var gameNight in Model) {
        <partial model="gameNight" name="_GameNight" />
    }
</div>
</body>
