@model GameNightViewModel

@{
    ViewBag.Title = "Organiseer";
}

<h2 class="text-center">Spelavond Organiseren</h2>

<form class="m-auto col-12 col-md-8 row g-2"  asp-action="Organize" method="post">
    <partial name="_GameNightForm" model="Model" />

    <button class="btn btn-primary col-4 my-2 m-auto" type="submit">Organiseer</button>

    <div class="alert alert-danger text-center" role="alert" asp-validation-summary="ModelOnly"></div>
</form>