@model IEnumerable<GameNight>

@{
    ViewBag.Title = "Georganiseerd";
}
    

<body>
<div>
    <h1>Georganiseerde spelavonden</h1>
    
    @foreach (var gameNight in Model) {
        <h2>@gameNight.Organizer.Name</h2>
        <h3>@gameNight.DateTime</h3>
        <h4>@gameNight.MaxPlayers</h4>
    }
</div>
</body>
