@model GameNightViewModel

@{
    ViewBag.Title = "Organiseer";
}

<h2>Spelavond Organiseren</h2>

<form asp-action="Organize" class="row g-2" method="post">
  <div class="row g-2">
          <label>Adres: </label>
          <div class="col-4">
              <input asp-for="City" class="form-control" placeholder="Stad">
          </div>
          <div class="col">
              <input asp-for="Street" class="form-control" placeholder="Straat">
          </div>
          <div class="col-1">
              <input asp-for="HouseNumber" class="form-control" placeholder="Huisnummer">
          </div>
      </div>

    <div class="form-group">
        <label asp-for="MaxPlayers">Maximaal aantal spelers: </label>
        <input class="form-control" asp-for="MaxPlayers"/>
    </div>

    <div class="form-group">
        <label asp-for="DateTime">Datum en tijd: </label>
        <input class="form-control" asp-for="DateTime"/>
    </div>

    <div class="form-group">
        <label asp-for="IsPotluck">Potluck?</label>
        <input asp-for="IsPotluck"/>
    </div>

    <div class="form-group">
        <label asp-for="IsOnlyForAdults">Alleen voor volwassenen?</label>
        <input asp-for="IsOnlyForAdults"/>
    </div>

    <div class="form-group">
        <label asp-for="Games"></label>
        <select class="form-select" asp-items="@ViewBag.Games"></select>
    </div>

    <button class="btn btn-primary col-4 my-2" type="submit">Organiseer</button>

    <div class="text-danger" asp-validation-summary="All"></div>
</form>