@model GameNightViewModel

@{
    ViewBag.Title = "Organiseer";
}

<h2>Spelavond Organiseren</h2>

<form asp-action="Organize" class="row g-2" method="post">
    <partial name="_GameNightForm" model="Model" />

    <button class="btn btn-primary col-4 my-2" type="submit">Organiseer</button>

    <div class="text-danger" asp-validation-summary="All"></div>
</form>