@model GameNightViewModel

@{
    ViewBag.Title = "Aanpassen";
}

<h2>Spelavond aanpassen</h2>

<form asp-action="Update" class="row g-2" method="post">
    <partial name="_GameNightForm" model="Model" />

    <button class="btn btn-primary my-2" type="submit">Aanpassen</button>

    <div class="text-danger" asp-validation-summary="All"></div>
</form>