@model GameNightViewModel

@{
    ViewBag.Title = "Aanpassen";
}

<h2 class="text-center">Spelavond aanpassen</h2>

<form class="m-auto col-12 col-md-8 row g-2" asp-action="Update" method="post">
    <partial name="_GameNightForm" model="Model" />

    <button class="btn btn-primary col-4 my-2 m-auto" type="submit">Aanpassen</button>

    <div class="alert alert-danger text-center" role="alert" asp-validation-summary="ModelOnly"></div>
</form>