@{
    ViewBag.Title = "Verboden Toegang";
}

<div class="text-center">
    <h2 class="text-danger">Je bent op een pagina terecht gekomen waar je geen toegang tot hebt!</h2>
    <h4>Klik <a asp-action="Index" asp-controller="Home">hier</a> om terug naar de homepagina te gaan.</h4>
</div>