@{
    ViewBag.Title = "Verboden Toegang";
}

<h2>Je bent op een pagina terecht gekomen waar je geen toegang tot hebt!</h2>
<p>Klik <a asp-action="Index" asp-controller="Home">hier</a> om terug naar de homepagina te gaan.</p>
