@model RegisterViewModel

@{
    ViewBag.Title = "Registreer";
}

<h2>Registreer</h2>

<form asp-action="Register" class="row g-2" method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input class="form-control" asp-for="Username"/>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email"/>
    </div>

    <div class="form-group">
        <label asp-for="BirthDate"></label>
        <input class="form-control" asp-for="BirthDate"/>
    </div>

    <div class="row g-2">
        <label asp-for="City"></label>
        <div class="col-7">
            <input asp-for="City" class="form-control" placeholder="Stad">
        </div>
        <div class="col">
            <input asp-for="Street" class="form-control" placeholder="Straat">
        </div>
        <div class="col">
            <input asp-for="HouseNumber" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Gender"></label>
        <select class="form-select" asp-for="Gender" asp-items="ViewBag.Gender"></select>
    </div>

    <div class="form-group">
        <label asp-for="UserType"></label>
        <select class="form-select" asp-for="UserType" asp-items="ViewBag.UserTypes"></select>
    </div>

    <label asp-for="Allergies"></label>
    <partial name="_Allergies" model="Model.Allergies" />

    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password"/>
    </div>

    <div class="form-group">
        <label asp-for="RepeatPassword"></label>
        <input class="form-control" asp-for="RepeatPassword"/>
    </div>

    <div class="d-flex flex-column mt-2 justify-center">
        <button class="btn btn-primary col-4" type="submit">Registreer</button>
        <a class="link-primary w-fit my-2" asp-action="Login">Al een account? Login!</a>
    </div>

    <div class="text-danger" asp-validation-summary="All"></div>
</form>