@model RegisterViewModel

@{
    ViewBag.Title = "Registreer";
}

<h2>Registreer</h2>

<form asp-action="Register" class="row g-2" method="post">
    <div class="form-group">
        <label asp-for="Username">Gebruikersnaam: </label>
        <input class="form-control" asp-for="Username"/>
    </div>

    <div class="form-group">
        <label asp-for="Email">Emailadres: </label>
        <input class="form-control" asp-for="Email"/>
    </div>

    <div class="form-group">
        <label asp-for="BirthDate">Geboortedatum: </label>
        <input class="form-control" asp-for="BirthDate"/>
    </div>
    
    <div class="row g-2">
        <label>Adres: </label>
        <div class="col-7">
            <input asp-for="City" class="form-control" placeholder="Stad">
        </div>
        <div class="col">
            <input asp-for="Street" class="form-control" placeholder="Straat">
        </div>
        <div class="col">
            <input asp-for="HouseNumber" class="form-control" placeholder="Huisnummer">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Gender">Geslacht: </label>
        <select class="form-select" asp-for="Gender" asp-items="ViewBag.Gender"></select>
    </div>

    <div class="form-group">
        <label asp-for="UserType">Type gebruiker: </label>
        <select class="form-select" asp-for="UserType" asp-items="ViewBag.UserTypes"></select>
    </div>

    @* @foreach (var allergy in ViewBag.Allergies) { *@
    @*     <label>@allergy["Description"]</label> *@
    @*     <input onclick="@Model.Allergies.Add(allergy)" type="checkbox" value="@allergy["Answer"]"/> *@
    @* } *@

    <div class="form-group">
        <label asp-for="Password">Wachtwoord: </label>
        <input class="form-control" asp-for="Password"/>
    </div>

    <div class="form-group">
        <label asp-for="RepeatPassword">Herhaal wachtwoord: </label>
        <input class="form-control" asp-for="RepeatPassword"/>
    </div>

    <div class="d-flex flex-column mt-2 justify-center">
        <button class="btn btn-primary col-4" type="submit">Registreer</button>
        <a class="link-primary w-fit my-2" asp-action="Login">Al een account? Login!</a>
    </div>

    <div class="text-danger" asp-validation-summary="All"></div>
</form>